#ipdc {
  .container {
    margin: 0 auto;
    width: 1340px;
    @media(max-width:768px){
        margin: 0 auto;
        width: 1200px;
        margin-left: 300px;
  
        
      }

    .flexible {
      display: grid;
      grid-template-columns: 40% 60%;

      @media(max-width:768px){
        display: flex;

      
    flex-direction: column;
  
        
      }

      .photo {
        width: 590px;
        height: 620px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 130px 160px;
        h2 {
          color: var(--black-80, #343434);
          font-size: 32px;
          font-family: $default_font_family;
          font-weight: 700;
          line-height: 38px;
        }
        p {
          color: var(--black-60, #676767);
          font-size: 16px;
          font-family: $default_font_family;
          line-height: 29px;
        }
        span {
          color: var(--primary-100, #ed017f);
          font-size: 19.333px;
          font-family: $default_font_family;
          line-height: 26.583px;
          i {
            color: $primary-100;
            margin-top: 21px;
            cursor: pointer;

          }
        }
      }
    }
  }
}
